PATH_add "$(pwd)/dev-ops/core/e-devs/"
PATH_add "$(pwd)/dev-ops/"

function create_e_dev() {
	local dev_name="dev-ops/core/e-devs/${2}.${1}"
	local args1="$"
	local args="@"
	cat > "$dev_name" << EOF
#! /usr/bin/env sh
"$(pwd)/dev-ops/core/devs/${1}" ${2} "${args1}${args}"
EOF
	chmod +x $dev_name
}

rm -rf dev-ops/core/e-devs/*
for dev_tool in $(ls "dev-ops/core/devs/")
do
	for dev_env in $(ls "dev-ops/envs")
	do
		create_e_dev "${dev_tool}" "${dev_env}"
	done
done

