// For the same color as the nav bar (green)
$bg-main = #fcf9fc
$bg-light = #dcdcdc
$bg-lighter = rgba(249,249,249,1)

$bg-tag = #f6f6f6
// $line-color = #f3f4f8

// Lighter than the nav green color
$prime-color = #e99064
$second-color = rgba(255, 124, 139, 0.1)

$text-color-prime = #ed7637
$text-color-main = #1d1d1d
$text-color-light = #413e41
$text-color-lighter = #b8b7b8

$text-color-danger = #ff6114
$text-color-yellow = #e2c796
$text-tag = #a3a3a3

// gradual
$gradual-prime-from = #f36e4a
$gradual-prime-to = #f49f46
$gradual-cyan-from=#63e3d5
$gradual-cyan-to=#5bcec2
$gradual-gray-from=#e7e7e7
$gradual-gray-to=#d8d8d8

$gradual-red-from=#fc4434
$gradual-red-to=#e13323