<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.odde.atddv2.myorder">

    <uses-permission android:name="android.permission.INTERNET" />

    <instrumentation
            android:name="com.odde.atddv2.myorder.JacocoInstrumentation"
            android:targetPackage="com.odde.atddv2.myorder" >
    </instrumentation>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyOrder"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".CreateOrderActivity"
                android:exported="false" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- adb shell am broadcast -a com.example.pkg.END_EMMA -->
        <receiver android:name=".EndEmmaBroadcast">
            <intent-filter>
                <action android:name="com.odde.atddv2.myorder.END_EMMA" />
            </intent-filter>
        </receiver>

    </application>

</manifest>